* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.color-primary-0 { color: #003E6D }	/* Main Primary color */
.color-primary-1 { color: #022138 }
.color-primary-2 { color: #59646D }
.color-primary-3 { color: #154367 }
.color-primary-4 { color: #000F1A }

.color-secondary-1-0 { color: #1A0075 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #11043C }
.color-secondary-1-2 { color: #656175 }
.color-secondary-1-3 { color: #2E1B6E }
.color-secondary-1-4 { color: #07011B }

.color-secondary-2-0 { color: #AA0000 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #570000 }
.color-secondary-2-2 { color: #A98989 }
.color-secondary-2-3 { color: #A01818 }
.color-secondary-2-4 { color: #280000 }

.color-complement-0 { color: #4F0071 }	/* Main Complement color */
.color-complement-1 { color: #29023A }
.color-complement-2 { color: #6A5C71 }
.color-complement-3 { color: #50146B }
.color-complement-4 { color: #13001B }
	
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	padding: 0;
	background: #eee;
	font-family:'Roboto', sans-serif;;
	font-size: 62.5%;
	color: rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	 font-size: 1em;
}

a {
	transition: all 0.5s ease-in-out;
}

.page-width {
	width: 90%;
	max-width: 960px; /*old school padding good for readability*/
	margin: 0 auto;
}

.top {
	background-image: url(images/background-portfolio.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #eee;
	width:100%;
}


.top .top-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: flex-start;
	font-size: 1.5em;
	text-transform: uppercase;
	padding-top: 30px;

}

header h1 {
	background-image: url(images/profile.jpg);
}


.top a {
	text-decoration: none;
	color: #fff;
}

.top a:link,
.top a:visited {
	opacity: 1;
}

.top a:hover,
.top a:active {
	opacity: 0.7;
}

.top .top-nav h1,
.top .top-nav nav {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.top .top-nav nav ul {
	list-style: none;
	width: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: flex-start;
}
	
.top .top-nav nav li {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	padding-left: 1.5em;
	text-decoration: none ;
}

.top .name {
	width: 100%;
	position: relative;
	min-height: 400px;
}

.top .name:after {/*trick for forcing aspect ratio*/
	content: ''; 
	display: block;
	padding-bottom: 56.25%; /*16/9*/
} /*psudo class trick for aspect ratio*/

.top .name .description {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%); /*X Y position*/
}

.top .name .description h2 {
	font-size: 4em;
	margin-bottom: 0.5em;
}


main {
	text-align: left;
	font-size: 1.3em;
	position: relative;
	line-height: 160%;
    background-color: #07011B;
    color: #fff;
}

.page-content {
	/*background-image: url(../images/main-back.svg);*/
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.grid{
    text-align: center;
	font-size: 1.3em;
}

.about-me{

}
 
.about-me p {
	font-size: 0.8em;
}

.profile-picture{
    background-image: url(images/profile.jpg);
    background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size:contain;
}
.about-me-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
	grid-template-areas:
	"profile-picture paragraph-1"
    }
    
    .profile-picture { grid-area: profile-picture; }

    .paragraph-1 { grid-area: paragraph-1; }


    .education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat( 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: 
    "jensen rsamd";
    }

.jensen-logo { 
    background-image: url(images/jensen-logo.svg);
    background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size:contain;
    grid-area: jensen;
	
}

.rsamd-logo {
	background-image: url(images/rcs-logo.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size:contain;
	grid-area: rsamd;	
}


.rsamd { 
    grid-area: rsamd;
	text-align: left;
}

.jensen{
	grid-area: jensen;
	text-align: left;
	text-align: left;
	
}


